
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VistaFormulario</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <h1 class="display-2">Firmulario Videojuegos</h1>

        <form class="mt-3" action="/Home/FormularioPOST" method="post" enctype="multipart/form-data">
            <label class="form-label">Nombre</label>
            <input class="form-control" type="text" name="nombre"/>
            <br />

            <label class="form-label">Fecha de Lanzamiento</label>
            <input class="form-control" type="date" name="fechaLanzamiento"/>
            <br />

            <label class="form-label">Precio</label>
            <input class="form-control" type="text" name="precio"/>
            <br />

            <label class="form-label">Imagen</label>
            <input class="form-control" type="file" name="ArchivoImagen"/>
            <br />

            <input type="submit" class="btn btn-success" value="Guardar"/>
            <a href="~/Home/Index" class="btn btn-primary"> Regresar </a>

        </form>
    </div>
</body>
</html>
